body {
    background-color: #12323a;
    /* min-height:100vh */
    /* background-image: url("/assets/borderAboutPage.png"); */
    background-image: url("/assets/food.png");
    background-size: cover;
}

#wrapper {
    width: 100%;
    margin: auto;
    /* margin: 0 auto; */
    /* background-color: #3f6a6e; */
    /* border: 4px solid pink; */
    border-radius: 1rem; 
    min-height: 100vh;
}
#header {
    text-align: center;
    color: black;
    font-family: "Chicle";
    font-size: 4rem;
    border: 4px solid #FF4162;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 5px 5px 5px black;
    
}
#wrapper #header {
    position: relative;
    z-index: 100;
}


#page-text {
    position: relative;
    /* display: block; */
    margin: 2rem;
    border: 5px solid #FF4162;
    border-radius: 1rem;
    color: black;
    font-size: 2rem;
    padding: 3rem;
    font-family: "Chicle";
    background-size: cover;
    background-position: center; */
}
#page-text p {
    position: relative;
    z-index: 100;
    color: black;
    /* text-shadow: 10px 5px 5px black; */
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: pink; */
}
#page-text::before {
    position: absolute;
    content: ""; 
     top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    background-color: rgba(256, 256, 256, 0.7);
    z-index: 1; 
    pointer-events: none;
    border-radius: 10px;
}