@import url('https://fonts.googleapis.com/css2?family=Chicle&family=Sofadi+One&display=swap');

body {
    font-family: "Chicle";
    background-color: #2d9d96

}

button {
    font-family: "Chicle";
}

#user-name {
    border: 1px solid black;
    background-color: white;
}
#usersTable {
    border: 1px solid black;
     background-color: white;
}

#exerciseTable {
     border: 1px solid black;
     background-color: white;

}
#runningTable {
    border: 1px solid black;
     background-color: white;
}

